# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Outros
coverage
*.min.js
src/assets/*.json
